# Node.js
node_modules

# Next.js
.next
out    # next export 시 생성되는 폴더

# 환경 변수
.env
.env.local
.env.*.local

# 운영 플랫폼 관련
.vercel
.turbo

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS 관련 불필요 파일
.DS_Store

# IDE 설정 (선택적으로)
.vscode/
.idea/