{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/.*",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all"
}
