@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://geists.vercel.app/font.css");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededef;
}

body {
  background-color: var(--background);
  font-family:
    "IBM Plex Sans KR",
    "Pretendard",
    "Blinker" "Geist";
}

h2 {
  font-size: 56px;
  font-weight: 500;
}
/* globals.css */
@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein-up {
  from {
    opacity: 0;
    transform: translateY(40px); /* 아래에서 시작 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 제자리로 */
  }
}

@keyframes center-to-up {
  0% {
    position: fixed;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: fixed;
    left: 50%;
    top: 46%;
    transform: translate(-50%, calc(-46% - 190px));
  }
}

@keyframes fadein-up-under {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein {
  opacity: 0;
  animation: fadein 2s 0s forwards;
}

.fadein-fast {
  opacity: 0;
  animation: fadein 0.5s 0s forwards;
}

.fadein-up {
  opacity: 0;
  animation: fadein-up 0.8s ease-in-out 1s forwards;
}

.fadein-down {
  animation: fadein-down 1s 4s both;
}

.fadein-down-delay {
  animation: fadein-down 1s 4.5s both;
}

.fadein-delay {
  opacity: 0;
  animation: fadein 2s 3s forwards;
}

.fadein-bg {
  opacity: 0;
  animation: fadein 2s 3s forwards;
}

.fadein-profile {
  opacity: 0;
  animation: fadein 1s 3s forwards;
}

.center-to-up {
  animation: center-to-up 1.5s ease-in-out forwards;
  animation-delay: 3s;
}

.fadein-bounce {
  opacity: 0;
  animation:
    fadein-up 1s 4.5s forwards,
    bounce 0.7s 0s infinite;
}

.text-sm-res {
  font-size: clamp();
}

.modal {
  width: 80%;
  max-width: 80vw;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
